/* CSS declarations go here */
/* CSS declarations go here */
body{
	margin: 0px;
}

.app-header{
	background-color: #33495E;
	color: white;
}

.nav-form{
	margin-top: 8px;
	padding-left: 200px;
}

#username{
	color: black;
}

#password{
	color: black;
}

.glyphicon{
	padding-left: 4px;
}

#login{
	width: 600px;
	display: inline-block;
}

.btn{
	color: white;
	background-color: #1abc9c;
	letter-spacing: 1px;
	border: 1.5px solid lightblue;
	border-radius: 2px;
}



.table-content{
	height: 370px;
	overflow: auto;
}

#employerName{
	width: 260px;
}

.app{
	border: 1px solid #d4d4d4;
	width: 90%;
	height: auto;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	overflow: hidden;
}
.app-title{
	color: #000;
	background-color: #efefef;
	font-size: 1.2em;
	font-family: sans-serif;
	text-align: left;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#title-name{
}

#title-content{
	margin-left: 60px;
}

.table-head{
	margin-bottom: 0;
}

th{
	font-size: 1em;
	text-align: center;
	letter-spacing: 3px;
	border: 1px solid black;
	padding-top: 4px;
	background-color: #71869b;
	color: white;
}

td {
	font-size: 1em;
	text-align: left;
	border: 1px solid black;
	padding: 3px 6px 3px 6px;
}

#employer-id{
	width: 20%;
}

#employer-name{
	width: 80%;
}

#employee-account{
	width: 20%;
}

#employee-name{
	width: 20%;
}

#employee-id{
	width: 30%;
}

#employee-employer{
	width: 30%;
}

#employerID{
	width: 100px;
}

#employerName{
	width: 460px;
}

#employeeAccount{
	width: 140px;
	letter-spacing: 1px;
}

#employeeName{
	width: 140px;
	letter-spacing: 1px;
}

#employeeID{
	width: 260px;
	letter-spacing: 1px;
}

#th-date{
	width: 10%;
}

#datepicker{
	width: 110px;
}

#month-input{
	width: 40px;
}

#money-input{
	width: 90px;
}

#month{
	width: 40px;
}


#th-abstract{
	width: 30%;
}

#th-income{
	width: 20%;
}

#th-defray{
	width: 20%;
}

#th-balance{
	width: 20%;
}

.selected{
	background-color: #8fbc8f;
}

select{
	font-size: 40px;
}

label{
	font-size: 1.2em;
}
