
<template name="app_header">
	<div class="app-header">
		<div id="logo">
			<a href="{{pathFor 'home'}}"><h3>Hiker</h3></a>
		</div>
		<div id="toolbar">
			<div class="global-search">
				<label>搜索</label><input type="text" id="search-box">
			</div>
			<div id="login">
				<form id="login-form" name="login-from">
					<label>用户</label><input type="text" id="username">
					<label>密码</label><input type="password" id="password">
					<input type="submit" class="btn" value="登录">
				</form>
			</div>
		</div>
	</div>
</template>