<template name="employer">
	<div class="data-grid">{{> employerView}}</div>
	<div>{{> employerForm}}</div>
</template>

<template name="employerView">
	<div class="app-title">
		<span class="glyphicon glyphicon-list"></span>
		{{title}}
	</div>
	<table class="table table-head">
		<thead>
			<tr>
				<th id="employer-id">单位帐号</th>
				<th id="employer-name">单位名称</th>
			</tr>
		</thead>
	</table>
	<div class="table-content">
		<table class="table">
			<tbody>
				<tr ng-repeat="emp in EmployersCollection" class="employer {{selectedClass}}">
					<td id="employer-id">[[emp.id]]</td>
					<td id="employer-name">[[emp.name]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<template name="employerForm">
	<form class="form-inline">
		<div class="input-group">
			<span class="input-group-addon">单位帐号</span>
			<input type="text" class="form-control" id="employerID">
		</div>
		<div class="input-group">
			<span class="input-group-addon">单位名称</span>
			<input type="text" class="form-control" id="employerName">
		</div>
		<button type="submit" class="btn btn-add" id="add">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="button" class="btn" id="remove">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<button type="button" class="btn" id="edit">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</form>
</template>