<template name="transaction">
	<div class="data-grid">
		{{> transactionView}}
	</div>
	<div>
		{{> transactionForm}}
	</div>
</template>

<template name="transactionView">
	<div class="app-title">
		<span class="glyphicon glyphicon-list"></span>
		<span id="title-name">{{title}}</span>
		<span id="title-content">[ {{employee}} ]</span>
	</div>
	<table class="table table-head">
		<thead>
			<tr>
				<th id="th-date">日期</th>
				<th id="th-abstract">摘要</th>
				<th id="th-income">收入金额</th>
				<th id="th-defray">支取金额</th>
				<th id="th-balance">余额</th>
			</tr>
		</thead>
	</table>
	<div class="table-content">
		<table class="table">
			<tbody>
				{{#each transactions}}
					<tr class="transaction {{selectedClass}}">
						<td id="th-date">{{date}}</td>
						<td id="th-abstract">{{abstract}}</td>
						<td id="th-income">{{income}}</td>
						<td id="th-defray">{{defray}}</td>
						<td id="th-balance">{{balance}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="transactionForm">
	<form class="form-inline">
		<div class="input-group">
			<span class="input-group-addon datepicker">日期</span>
			<input type="text" class="form-control" id="datepicker">
		</div>
		<div class="input-group">
			<span class="input-group-addon">月度</span>
			<input type="text" class="form-control" id="month-input" value={{selectedMonth}}>
			<span>
				<select name="month" id="month" class="selectMonth form-control" >
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon">业务类别</span>

			<label class="checkbox-inline"><input name="category" type="radio" class="radio" value="1" id="hj" checked>
				<span class="label label-success">汇缴</span>
			</label>
			<label class="checkbox-inline"><input name="category" type="radio" value="0" class="radio" id="bj">
				<span class="label label-warning">补缴</span>
			</label>
			<label class="checkbox-inline"><input name="category" type="radio" value="-1" class="radio" id="zq">
				<span class="label label-danger">支取</span>
			</label>
			<label class="checkbox-inline"><input name="category" type="radio" value="2" class="radio" id="jx">
				<span class="label label-primary">结息</span>
			</label>
		</div>
		<div class="input-group">
			<span class="input-group-addon">金额</span>
			<input type="text" class="form-control" id="money-input">
		</div>
		<button type="submit" class="btn" id="add">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
				<button type="button" class="btn" id="remove">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<button type="button" class="btn" id="edit">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</form>
</template>