<template name="transaction">
	<div class="data-grid">
		{{> transactionView}}
	</div>
	<div>
		{{> transactionForm}}
	</div>
</template>

<template name="transactionView">
	<div class="app-title">
		<span id="title-name">{{title}}</span>
		<span id="title-content">[ {{employee}} ]</span>
	</div>
	<table>
		<tbody>
			<tr>
				<th id="th-date">日期</th>
				<th id="th-abstract">摘要</th>
				<th id="th-income">收入金额</th>
				<th id="th-defray">支取金额</th>
				<th id="th-balance">余额</th>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody>
			{{#each transactions}}
				<tr class="transaction {{selectedClass}}">
					<td id="th-date">{{date}}</td>
					<td id="th-abstract">{{abstract}}</td>
					<td id="th-income">{{income}}</td>
					<td id="th-defray">{{defray}}</td>
					<td id="th-balance">{{balance}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="transactionForm">
	<form class="form-region">
		<label>日期</label><input type="text" id="date-input">
		<label>月度</label><input type="text" id="month-input" value={{selectedMonth}}>
		<select name="month" id="month" class="selectMonth">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
		<label>业务类别</label>
		<label><input name="category" type="radio" value="1" id="hj" checked>汇缴</label>
		<label><input name="category" type="radio" value="0" id="bj">补缴</label>
		<label><input name="category" type="radio" value="-1" id="zq">支取</label>
		<label><input name="category" type="radio" value="2" id="jx">结息</label>
		<label>金额</label><input type="text" id="money-input">
		<input type="submit" class="btn" id="commit" value="确定">
	</form>
</template>